<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>calc.web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- step 1: define a servlet instance -->
	<!-- tell tomcat to create an instance of CalculatorServlet and call it 
		calc -->
	<!-- CalculatorServlet calc = new CalculatorServlet(); -->
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>calc.web.HelloServlet</servlet-class>
	</servlet>

	<!-- step 2: map the servlet instance to a url so clients can get access 
		to it -->
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/helloServ</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>calc</servlet-name>
		<servlet-class>calc.web.CalculatorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>calc</servlet-name>
		<url-pattern>/calc</url-pattern>	
	</servlet-mapping>


</web-app>