<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- your beans definitions here -->
	<bean id="thePersonProto" class="a.types.person.Person"
		scope="prototype"></bean>

	<bean id="thePersonSingle" class="a.types.person.Person"
		scope="singleton">
		<property name="id" value="101"></property>
		<property name="name" value="Moshe"></property>
		<property name="age" value="25"></property>
	</bean>

	<!-- honker beans -->
	<bean id="theHonker" class="a.types.cars.SimpleHonker"></bean>
	<bean id="theHonkerF" class="a.types.cars.FancyHonker"></bean>

	<!-- car beans -->
	<bean id="theCar" class="a.types.cars.FamilyCar">
		<!-- DI using CTOR arg -->
		<constructor-arg ref="theHonker"></constructor-arg>
	</bean>
	<!-- <property name="honker" ref="theHonkerF"></property> -->
</beans>