<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>HelloServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 1. define a servlet instance -->
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>a.HelloServlet</servlet-class>
	</servlet>


	<!-- 2. map the servlet instance to a url -->
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/aaa</url-pattern>
	</servlet-mapping>


</web-app>